@import 'mixins';
@import 'variables';

//Unique Styling for Homepage Nav
#home{
  .nav{
    background: transparent;
    padding: 30px 45px;
    position: absolute;
    z-index: 100;
    @media screen and (max-width: $small){
      padding: 20px 30px;
    }
    @media screen and (max-width: $phone){
      padding: 20px 20px;
    }

    #fr-logo{
      background: url('../img/logo/fr-logo-full.svg');
      background-size: 207px 54px;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      height: 54px;
      width: 207px;

      @media screen and (max-width: $small){
        background: url('../img/logo/fr-logo-small.svg');
        background-size: 48px 54px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        height: 54px;
        width: 48px;
      }
    }

    .right{
      right: 45px;
      top: 44px;
      @media screen and (max-width: $small){
        right: 30px;
        top: 35px;
      }
      @media screen and (max-width: $phone){
        right: 20px;
        top: 35px;
      }
    }
  }
} //End Unique Homepage Styling

.nav{
  background: transparent;
  padding: 20px 30px;
  position: absolute;
  width: 100%;
  z-index: 100;
  @media screen and (max-width: $phone){
    padding: 20px 20px;
  }

  .left{
    display: inline-block;

    .home-link{
      @include transition( all 0.2s);

      &:hover{
        opacity: 0.7;
      }

      #fr-logo{
        background: url('../img/logo/fr-logo-small.svg');
        background-size: 48px 54px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        height: 54px;
        width: 48px;
      }
    }
  }

  .right{
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 28px;
    @media screen and (max-width: $small){
      right: 30px;
      top: 35px;
    }
    @media screen and (max-width: $phone){
      right: 20px;
      top: 35px;
    }

    .page-link{
      color: white;
      font-family: 'Open Sans', sans-serif;
      margin: 0 10px;
      padding: 10px;
      font-size: 18px;
      @include transition( all 0.2s);
      @media screen and (max-width: $small){
        font-size: 16px;
        margin: 0 5px;
        padding: 10px 5px;
      }
      @media screen and (max-width: $phone){
        font-size: 14px;
        margin: 0 4px;
        padding: 10px 4px;
      }

      &:hover{
        opacity: 0.7;
      }
    }
  }
}
